html {
  box-sizing: border-box;
  background: #00ff88;
  font-family: 'helvetica neue';
  font-size: 40px;
  font-weight: 200;
}

h1 {
  font-size: 40px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

.model-select {
  font-size: 40px;
}
